* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

header {
    background-color: rgb(29, 23, 23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#logo {
    height: 7vh;
    border-radius: 50%;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;
}

html {
    background: url('/images/wallpaper.jpg') center;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

footer {
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

#resume {
    text-decoration: underline;
    color: white;
}

#aboutme {
    background-color: rgba(107, 87, 196, 0.582);
    border: 2px solid white;
    border-radius: 10px;
    padding: 2rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

#aboutme h3 {
    text-decoration: underline;
    font-weight: bold;
}

article h1 {
    padding: 1rem;
}

#journey, #work, #hobbies {
    margin: 1rem 0;
}

@media screen and (min-width: 768px) {
    section {
        height: 100vh;
    }
}