@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

html {
    background: url('/images/wallpaper.jpg') center;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

/* Nav Bar */

header {
    background-color: rgb(29, 23, 23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#logo {
    height: 7vh;
    border-radius: 50%;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;
}

/* Homepage */

#homepage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#index {
    height: 90vh;
}

/* Nametag portrait on Homepage */

#nametag {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    background: rgba(107, 87, 196, 0.582);
    padding: 1rem;
    transition: 1s;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#nametag h1 {
    font-size: 3rem;
}

#nametag h2, h3, h5 {
    font-weight: lighter;
}

#portrait {
    height: 30vh;
    border-radius: 50%;
    margin: 2rem;
}

/* Hover animation on nametag */
#nametag:hover {
    transform: scale(1.125);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.493);
    transition: 1s;
}

/* Social Links */

#social a {
    margin: -0.25rem;
    transition: 1s;
}

#social a:hover, nav a:hover {
    display: inline-block;
    transform: scale(1.125);
    transition: 1s;
}

/* Footer */
footer {
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-top: auto;
}


/* About me page */


#aboutme {
    background-color: rgba(107, 87, 196, 0.582);
    border: 2px solid white;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:auto;
    height: auto;
}

#aboutme h3 {
    text-decoration: underline;
    font-weight: bold;
}

#journey, #work, #hobbies {
    margin: 1rem 0;
}

#resume {
    text-decoration: underline;
    color: white;
}

#resume:hover {
    font-weight: bold;
}

/* About me article */

#aboutme_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutme_page h1 {
    padding: 1rem;
    font-size: 3rem;
    font-weight: bolder;
}

/* Media breakpoint*/
@media screen and (min-width: 768px) {
    #aboutme_page {
        height: 100vh;
    }
}

/* Projects page */

#projects_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#projects_page {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1rem;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}    

.project_article {
    border: 2px solid white;
    border-radius: 10px;
    background:rgba(107, 87, 196, 0.582);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
}

.project_article img {
    height: 20vh;
}

.project_title {
    text-decoration: underline;
    font-weight: bold;
    margin-top: 1rem;
    justify-self: flex-start;
}

.project_pic {
    margin: 1rem 0;
}

.button {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.26);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    transition: 1s;
}

.button a {
    text-decoration: none;
    color: white;
}

.button:hover {
    transform: scale(1.125);
    background: black;
    transition: 1;
}

@media screen and (min-width: 768px) {
    #projects_container {
        display: flex;
        flex-direction: row;
        flex: wrap;
        justify-content: center;
    }

    .project_article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 30%;
        margin: 1rem;        
    }
    
    #project_body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #projects_footer {
        margin-top: 0;
    }
}



/* Blog page */
.blog_article {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    background: rgba(107, 87, 196, 0.582);
    width: 90%;
    height: auto;
    margin: 0.5rem;
}

.blog_article a {
    text-decoration: underline;
    color: white;
}

.blog_pic {
    height: auto;
    width: 5rem;
    padding: 4px; 
    border-radius: 10px;
    margin: 5px;
}

.blog_description {
    align-self: center;
}

#blog_container {
    display:flex;
    flex-direction: column;
    align-content:space-around;
}

#blog_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    margin-top: 1.5rem;
}

#blog_page h1 {
    text-decoration: underline;
    font-size: 2rem;
    padding: 0.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    #blog_container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog_article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: auto;
        flex: 1 1 40%;
    }

    .blog_pic {
        height: auto;
        width: 10rem;
    }

    .blog_description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:1280px) {
    #blog_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* margin: 1.5rem; */
    }

    .blog_article {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 17rem;
        flex: 1 1 30vw;
        overflow: hidden;
    }

    .blog_article a {
        font-size: 1.2vw;
    }

    .blog_article p {
        font-size: 0.8vw;
    }

    .blog_pic {
        height: 18rem;
        width: auto;
        object-fit: contain;
        padding: 0;
        border-radius: 10px;
        margin: 0;
        margin-right: 1rem;
    }
}

/* Blog Posts */

.blog_post {
    border: 2px solid white;
    border-radius: 10px;
    background:rgba(107, 87, 196, 0.582);
    margin:1rem;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.blog_post_pic {
    height:auto;
    width: 25rem;
    margin-bottom: 1rem;
}

.blog_sidebar {
    padding:0;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.blog_sidebar h2 {
    text-decoration: underline;
}



@media screen and (min-width: 1200px) {
    .blog_post {
        display:flex;
        flex-direction: row;
    }
    .blog_sidebar {
        width: 200vh;
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 6px 0 6px rgb(195, 139, 218);
    }
    .blog_content {
        font-size: 1.2rem;
    }
    .blog_post_pic {
        width: 100%;
        align-self: flex-start;
    }
    .blog_body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .blog_footer {
        margin-top: 0;
    }
}