* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: rgb(29, 23, 23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#logo {
    height: 7vh;
    border-radius: 50%;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;
}

html {
    background: black;
    font-family: 'Quicksand', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    background: url('/images/wallpaper.jpg') center;
    background-size: cover;
    height: 90vh;
}

#nametag {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    background: rgba(107, 87, 196, 0.582);
    padding: 1rem;
    transition: 1s;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#nametag:hover {
    transform: scale(1.125);
    box-shadow: 4px 4px 4px;
    transition: 1s;
}

#nametag h1 {
    font-size: 3rem;
}

#nametag h2, h3 {
    font-weight: lighter;
}

#portrait {
    height: 30vh;
    border-radius: 50%;
    margin: 2rem;
}

#social a {
    margin: 0 0.5rem;
}

#social a:hover, nav a:hover {
    display: inline-block;
    transform: scale(1.125);
    transition: 1s;
}

section h1, h2, h3 {
    color: white;
}

footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

