@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

html {
    background: url('/images/wallpaper.jpg') center;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

/* Nav Bar */

header {
    background-color: rgb(29, 23, 23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#logo {
    height: 7vh;
    border-radius: 50%;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;
}

/* Homepage */

#homepage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#index {
    height: 90vh;
}

/* Nametag portrait on Homepage */

#nametag {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    background: rgba(107, 87, 196, 0.582);
    padding: 1rem;
    transition: 1s;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#nametag h1 {
    font-size: 3rem;
}

#nametag h2, h3, h5 {
    font-weight: lighter;
}

#portrait {
    height: 30vh;
    border-radius: 50%;
    margin: 2rem;
}

/* Hover animation on nametag */
#nametag:hover {
    transform: scale(1.125);
    box-shadow: 4px 4px 4px;
    transition: 1s;
}

/* Social Links */

#social a {
    margin: 0 0.5rem;
}

#social a:hover, nav a:hover {
    display: inline-block;
    transform: scale(1.125);
    transition: 1s;
}

/* Footer */
footer {
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-top: auto;
}


/* About me page */


#aboutme {
    background-color: rgba(107, 87, 196, 0.582);
    border: 2px solid white;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:auto;
    height: auto;
}

#aboutme h3 {
    text-decoration: underline;
    font-weight: bold;
}

#journey, #work, #hobbies {
    margin: 1rem 0;
}

#resume {
    text-decoration: underline;
    color: white;
}

/* About me article */

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article h1 {
    padding: 1rem;
    font-size: 3rem;
    font-weight: bolder;
}

/* Media breakpoint*/
@media screen and (min-width: 768px) {
    section {
        height: 100vh;
    }
}